@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.background {
  background-color: rgba(255, 255, 255, 30%);
}

.nav-bar {
  background-color: black;
}

#yearly {
  color: red !important;
  background-color: #f5cd15 !important;
}

.BR {
  border: 1px solid #f5cd15 !important;
}

#card-icon {
  margin-top: -18px;
}

#main {
  background-color: #f5cd15;
  width: 100vw;
  height: 100vh;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: black;
}

#progress2 {
  margin-left: 145px;
}

#container2 {
  /* background-color: red; */
  width: 65%;
  height: 70%;
  margin-top: 80px;
  margin-left: 195px;
}

#progress {
  /* background-color: red; */
  width: 140%;
  height: 75%;
  padding-left: 1rem;
}

#progress2 {
  margin-left: 145px;
}

#progress-text {
}

#notes {
  width: 230px; /* Set the width of the container */
  height: 100px; /* Set the height of the container */
  overflow: auto; /* Add scrollbars if content overflows */
}

#notes .text-sm {
  white-space: pre-wrap; /* Allow wrapping of long lines */
}

/* Customize scrollbar */
#notes::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}

.child3::-webkit-scrollbar {
  width: 0px;
}

/* Track */
#notes::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  border-radius: 50%; /* Set the background color of the scrollbar track */
}

/* Handle */
#notes::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar handle */
  border-radius: 4px; /* Set border radius */
}

/* Handle on hover */
#notes::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change color on hover */
}

/* Adjust width of cards to fit within container */
.Card {
  width: calc(
    33.33% - 10px
  ); /* Adjust the width as needed based on your grid layout and gap */
  /* Add any other necessary styles */
}

#profile {
  /* background-color: red; */
  width: 200px;
  display: inline-flex;
  gap: 14px;
}

#ceo {
  position: absolute;
  top: 45px;
  right: 100px;
}

#ceo-owner {
  margin-top: 5px;
}

.header2 {
  position: absolute;
  right: 200px;
  top: -10px;
}

/*
!Gredient Color
*/

.gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  /* For webkit (Safari, Chrome) */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  /* For Mozilla Firefox */
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  /* For Opera */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(4px);
}

.gradient-color {
  /* Linear gradient */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(32, 31, 33, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );

  /* For full browser support */
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(32, 31, 33, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

/*! Calender CSS Starts*/
.react-calendar {
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  border-radius: 1rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border: none;
  line-height: 1.15rem;
  width: 300px; /* Set width to 300px */
  height: 170px; /* Set height to 180px */
  overflow: hidden; /* Hide any overflow content */
}

/* Adjust styles for tile size */
.react-calendar__tile {
  width: calc(100% / 7); /* Ensure each tile takes up equal space */
  height: 20px; /* Adjust height as needed */
  line-height: 5px; /* Center content vertically */
  color: #ffffff;
  font-weight: 500;
}

/* Modify styles for weekend days */
.react-calendar__month-view__days__day--weekend {
  color: white;
}

/* Modify styles for weekdays */
.react-calendar__month-view__weekdays__weekday {
  font-weight: normal;
  color: #ffffff;
}

abbr[title] {
  text-decoration: none;
  color: #b5bec6;
}

/* Adjust active state styles */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  /* background: #f5cd15; */
  border-radius: 9rem;
  color: rgb(255, 255, 255);
}

/* .react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
 none

} */

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f5cd15;
  color: none;
  border-radius: none;
}
.react-calendar__tile--now {
  background: #f5cd15;
  border-radius: 5rem;
  font-weight: bold;
  color: #ffffff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: none;
}

.react-calendar__tile--active {
  background: #f5cd15;
  border-radius: 50%;
  font-weight: none;
  color: none;
  padding: 0;
}

.react-calendar__navigation button {
  color: white;
  min-width: none;
  background: none;
  font-size: none;
  margin-top: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: none;
}

.react-calendar__navigation button[disabled] {
  background-color: none;
}

/*! Calender CSS End*/

.notes {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  /* For older browsers that do not support gradients */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  /* Adding fallback color */
  background-color: rgba(102, 102, 102, 1);
  /* Ensuring proper rendering */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#666666',GradientType=0 );
}

.parent {
  background: #f5cd15;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.child {
  width: 20%;
  height: 100vh;
  background: #f5cd15;
}

.child2 {
  width: 80%;
  height: 100vh;
  background: black;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.child3 {
  /* Add relative positioning */
  position: relative;
  width: 95%;
  /* height: auto; */
  height: 88%;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.558);
}

#child4 {
  position: relative;
  width: 90%;
  /* height: auto; */
  height: 80%;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.558);
}

.formPara {
  position: absolute;
  top: 15px;
  left: 20rem;
}

#btn {
  background-color: black;
  /* box-shadow: 0 0 10px #f5cd15; */

  border-left: 1px solid #f5cd15;
  border-right: 1px solid #f5cd15;
  border-bottom: 1px solid #f5cd15;
  /* border-top: 0.5px solid #f5cd15; */
}

#btn2 {
  background-color: black;
  border: 1px solid #f5cd15;
  cursor: pointer;
  color: #f5cd15;
}

#searchbox {
  position: absolute;
  left: 25rem;
  width: 25%;
  height: 7%;
}

#searchbox2 {
  position: absolute;
  left: 49rem;
  width: 25%;
  height: 7%;
}

#searchbox3 {
  position: absolute;
  left: 20rem;
  width: 25%;
  height: 7%;
}

.abcd {
  width: 200%;
}

#serve-btn {
  position: absolute;
  left: 55rem;
}

.serve-card {
  width: 100%;
}

.card-item3 {
  width: 470px;
  height: 350px;
}

#para {
  margin-left: 20px;
}

.dashbord {
  background: red !important;
  width: 10%;
}

.navbg {
  background-color: rgb(244, 0, 0);
  color: white;
  width: 250px;
  padding: 15px;
  padding-left: 30px;
  margin-left: 0px;
  padding-bottom: 5px;
  border-radius: 50px 0px 0px 50px;
  /* border-radius: 13em/3em; */
  /* border-radius: 13em/3em; */
}

.input-field {
  border: none;
  padding: 12px;
  padding-left: 45px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  /* For webkit (Safari, Chrome) */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  /* For Mozilla Firefox */
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  /* For Opera */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(5px);
}

.input-field2 {
  border: none;
  padding: 12px;
  padding-left: 45px;
  background-color: gray;
}

::placeholder {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

#second-btn {
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(167, 168, 182, 0.37); */
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#card-grid {
  display: inline-grid;
}

.card-item {
  width: 280px;
  height: 120px;
}

#card-item2 {
  width: 95%;
  height: 40vh;
}

.card-item2 {
  width: 470px;
  height: 350px;
}

.card-item4 {
  width: 300px;
  height: 250px;
}

.cardglow {
  box-shadow: 0 0 42px 6px #f5cd15;
}

/* styles.css */

.border-gradient {
  border: 1px solid #f5cc15d4;
}

#excard {
  background-color: red;
  width: 96%;
}

/* styles.css */

.custom-background {
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #d0d0d0,
    #a3a3a4,
    #787879,
    #505051,
    #505051,
    #505051,
    #505051,
    #787879,
    #a3a3a4,
    #d0d0d0,
    #ffffff
  );
}
#view-more {
  margin-left: 50px;
  margin-top: -10px;
  height: 55px;
  border-radius: 50px;
}

.down-arrow {
  background-color: #f5cd15;
}
