@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Avenir+Next+LT+Pro:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.background {
  background-color: rgba(255, 255, 255, 30%);
}

#yearly {
  color: red !important;
  background-color: #f5cd15 !important;
}

.BR{
  border-radius: 1px solid #f5cd15;
}

/*
!Gredient Color
*/

.gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  /* For webkit (Safari, Chrome) */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  /* For Mozilla Firefox */
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  /* For Opera */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0.3),
    rgba(32, 31, 33, 0.2),
    rgba(255, 255, 255, 0.2)
  );
}

/*! Calender CSS Starts*/
.react-calendar {
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  border-radius: 1rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border: 1px solid #f5cd15;
  line-height: 1.15rem;
  height: auto; /* Allow height to adjust based on content */
}

/* Adjust styles for tile size */
.react-calendar__tile {
  width: calc(100% / 7); /* Ensure each tile takes up equal space */
  height: 28px; /* Adjust height as needed */
  line-height: 5px; /* Center content vertically */
  color: #ffffff;
  font-weight: 500;
}

/* Modify styles for weekend days */
.react-calendar__month-view__days__day--weekend {
  color: white;
}

/* Modify styles for weekdays */
.react-calendar__month-view__weekdays__weekday {
  font-weight: normal;
  color: #ffffff;
}

abbr[title] {
  text-decoration: none;
  color: #b5bec6;
}

/* Adjust active state styles */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  /* background: #f5cd15; */
  border-radius: 9rem;
  color: rgb(255, 255, 255);
}

/* .react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
 none

} */

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f5cd15;
  color: none;
  border-radius: none;
}
.react-calendar__tile--now {
  background: #f5cd15;
  border-radius: 5rem;
  font-weight: bold;
  color: #ffffff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: none;
}

.react-calendar__tile--active {
  background: #f5cd15;
  border-radius: 50%;
  font-weight: none;
  color: none;
  padding: 0;
}

.react-calendar__navigation button {
  color: white;
  min-width: none;
  background: none;
  font-size: none;
  margin-top: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: none;
}

.react-calendar__navigation button[disabled] {
  background-color: none;
}

/*! Calender CSS End*/

.notes {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  /* For older browsers that do not support gradients */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  /* Adding fallback color */
  background-color: rgba(102, 102, 102, 1);
  /* Ensuring proper rendering */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#666666',GradientType=0 );
}
